* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background-color: #F2F0EF;
}
.nav-links {
    display: flex;
    gap: 60px;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
}
.nav-links a:hover{
    color: #9b5b5b;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    max-width: 1550px;
    margin: auto;
    background-color: #fffaf7;
}
.small-heading{
    font-size: 50px;
    letter-spacing: 7px;
    margin-left: 100px;
    color: #222;
}
.hero-content h1{
    font-family: Georgia, serif;
    font-size: 40px;
    color: #b86f6f;
    margin-bottom: 20px;
    margin-left: 100px;
}
.hero-description {
    font-size: 19px;
    color: #555;
    margin-bottom: 30px;
    margin-left: 100px;
}
.hero-button{
    display: inline-block;
    padding: 13px 25px;
    color: white;
    border-radius: 8px;
    background-color: #b86f6f;
    font-size: 20px;
    margin-left: 100px;
}
.hero-button:hover{
    background-color: #9f5c5c;
}

/* WHAT YOU CAN LEARN */
.learning-section {
    padding: 15px 80px;
    text-align: center;
    background-color: #F2F0EF;
}
.learning-section h2{
    font-family: Georgia, Serif;
    font-size: 28px;
    color: #222;
    margin-bottom: 30px;
}
.learning-section h2::after{
    content: " ";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #d99a9a;
    margin: 8px auto 0;
}
    
.learning-cards{
    display: flex;
    justify-content: center;
    gap: 180px;
}
.learning-card{
    width: 180px;
    min-height: 180px;
    padding: 10px;
    border: 1px solid #A7B3C0;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
}
.learning-card p{
    font-size: 17px;
    line-height: 1.5;
    color: #555;
}
.learning-card h3{
    font-family: Georgia, serif;
    margin-bottom: 10px;
}
.learning-card a{
    color: #dea193;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold; 
}
/* WHY STUDENT HUB */
.why-section{
    padding: 30px 80px;
    text-align: center;
    background-color: #fffaf7;
}
.why-section h2{
    font-family: Georgia, serif;
    font-size: 28px;
    color: #222;
    margin-bottom: 30px;
}
.why-section h2::after{
    content: " ";
    display: block;
    width: 60px;
    height: 2px;
    margin: 8px auto 0;
    background-color: #d99a9a;
}
.why-cards{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.why-card{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 250px;
    padding: 20px;
    border-radius: 15px;
}
.why-card h3{
    font-family: Georgia, serif;
    font-size: 16px;
    margin: 0 0 8px;
}
.why-card p{
    color: #555;
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
}
/* CTA SECTION */
.cta-section{
    width: 98%;
    background-color: #f3e2dc;
    border-radius: 20px;
    margin: 10px auto;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.cta-content h2{
    font-family: Georgia, serif;
    font-size: 32px;
    color: #3d2925;
    margin-bottom: 18px;
}
.cta-content p{
    font-size: 16px;
    color: #556;
    margin-bottom: 18px;
}
.cta-button{
    display: inline-block;
    background-color: #b86f6f;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
}
.cta-button:hover{
    background-color: #9f5c5c;
}
.cta-images{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 35%;
    height: 100%;
}
.cta-images img{
    width: auto;
    max-height: 275px;
    object-fit: contain;
}
.cta-content{
    width: 60%;
    text-align: center;
}
