* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background-color: #F2F0EF;
}
.nav-links {
    display: flex;
    gap: 60px;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
}
.nav-links a:hover{
    color: #9b5b5b;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    max-width: 1550px;
    margin: auto;
    background-color: #fffaf7;
}
.small-heading{
    font-size: 50px;
    letter-spacing: 7px;
    margin-left: 100px;
    color: #222;
}
.hero-content h1{
    font-family: Georgia, serif;
    font-size: 40px;
    color: #b86f6f;
    margin-bottom: 20px;
    margin-left: 100px;
}
.hero-description {
    font-size: 19px;
    color: #555;
    margin-bottom: 30px;
    margin-left: 100px;
}
.hero-button{
    display: inline-block;
    padding: 13px 25px;
    color: white;
    border-radius: 8px;
    background-color: #b86f6f;
    font-size: 20px;
    margin-left: 100px;
}
/* WHAT YOU CAN LEARN */
.learning-section {
    padding: 15px 80px;
    text-align: center;
    background-color: #F2F0EF;
}
.learning-section h2{
    font-family: Georgia, serif;
    font-size: 28px;
    color: #222;
    margin-bottom: 30px;
}
.learning-cards{
    display: flex;
    justify-content: center;
    gap: 180px;
}
.learning-card{
    width: 180px;
    min-height: 180px;
    padding: 10px;
    border: 1px solid #A7B3C0;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
}
.learning-card p{
    font-size: 17px;
    line-height: 1.5;
    color: #555;
}
.learning-card h3{
    font-family: Georgia, serif;
    margin-bottom: 10px;
}
.learning-card a{
    color: #dea193;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold; 
}
